<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DGES Course Explorer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.bunny.net">
<link href="https://fonts.bunny.net/css?family=rethink-sans:400&display=swap" rel="stylesheet" />
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">DGES Course Explorer</a></h1>
    </header>

    <main>
        <section class="results-section"></section>
    </main>

    <script src="{{ url_for('static', filename='js/course.js') }}"></script>
</body> 
</html>